{% extends 'base.html' %}

{% load static %}
{% block content %}
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama1">
    <div class="container">
      <div class="row justify-content-center font-weight-bold profilejudul">
        PROFILE
      </div>
      <div class="row align-items-center inforow">
        <div class="col align-items-center mycol">
          <img src="{% static 'pic/name.png' %}" class="img-fluid icons" alt="Responsive image">  
        </div>  
        <div class="col-5 info"> 
          Nicolas Henry Wijaya
        </div>
        <div class="col mycol">
          <img src="{% static 'pic/age.png' %}" class="img-fluid icons" alt="Responsive image">
        </div>
        <div class="col-5 info"> 
          March 29th 2000
        </div>
      </div>  
      <div class="row align-items-center inforow">
        <div class="col mycol">
          <img src="{% static 'pic/home.png' %}" class="img-fluid icons" alt="Responsive image">  
        </div>
        <div class="col-5 info"> 
          Bahagia St., West Jakarta
        </div>
        <div class="col mycol">
          <img src="{% static 'pic/blood.png' %}" class="img-fluid icons" alt="Responsive image">
        </div>
        <div class="col-5 info"> 
          O Positive
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama2">
    <div class="container">
      <div class="row justify-content-center font-weight-bold profilejudul">
        EXPERIENCES
      </div>
      <div class="row align-items-center inforow">
        <div class="col-2 mycol2">
          <img src="{% static 'pic/uiaw.png' %}" class="img-fluid icons2" alt="Responsive image">  
        </div>  
        <div class="col info"> 
          <strong> 7th UI Art War</strong> </br> Staff of Equipments
        </div>
        <div class="col-2 mycol2">
          <img src="{% static 'pic/cgt.png' %}" class="img-fluid icons2" alt="Responsive image">
        </div>
        <div class="col info"> 
          <strong>CGT In Action</strong></br> Staff of Public Relations
        </div>
      </div>  
      <div class="row align-items-center inforow">
        <div class="col-2 mycol2">
          <img src="{% static 'pic/kmk.png' %}" class="img-fluid icons2" alt="Responsive image">  
        </div>
        <div class="col info"> 
          <strong>Presidium KMK UI 2019</strong></br> Staff of HRD
        </div>
        <div class="col-2 mycol2">
          <img src="{% static 'pic/compfest.png' %}" class="img-fluid icons2" alt="Responsive image">
        </div>
        <div class="col info"> 
          <strong>COMPFEST 12</strong></br> Staff of Digital Marketing
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama3">
    <div class="container">
      <div class="row justify-content-center font-weight-bold profilejudul">
        SKILLS
      </div>
     <p>Python</p>
      <div class="containers">
        <div class="skills python">80%</div>
      </div>

      <p>Java</p>
      <div class="containers">
        <div class="skills java">90%</div>
      </div>

      <p>Photoshop</p>
      <div class="containers">
        <div class="skills photoshop">65%</div>
      </div>

      <p>HTML</p>
      <div class="containers">
        <div class="skills HTML">50%</div>
      </div> 
    </div>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama2">
    <div class="container">
      <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
{% endblock %}
  

