{% extends 'base.html' %}	
{% load static %}
{% block content %}
  
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama4">
    <div class="container ">
      <div class="row justify-content-center font-weight-bold formjudul">
        CREATE SCHEDULES
      </div>
      
    </div>
  </div>

  <form action="{% url 'story4app:form' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn submit" type="submit" value="Submit">
  </form> 
  <div class="container">
    {% for jadwal in data %}
      {{jadwal.hari}}
        <a href="{% url 'story4app:delete' id=jadwal.id %}">Delete</a>
    {% endfor %}
  </div>
{% endblock %}