{% extends 'base.html' %}	


{% load static %}
{% block content %}
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama">
    <div class="row mb-2 align-items-center utamakonten">
      <div class="col-md-6">
        <h1 class="display-4 font-italic">Hi There!</h1>
        <p class="lead my-3">I'm just an ordinary boy who loves musics, films, and books. As the only child, i often 
        spend my leisure times alone with my gadgets or books, and that's make me a dominant introvert.
        Oh! I am a big fan of kpop too!</p>
      </div>
      <div class="col-md-6" >
        <img src="{% static 'pic/cropped.png' %}" class="rounded float-right foto" alt="...">
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Small peeps don't do balls</h3>
          <div class="mb-1 text-muted">29 Sept</div>
          <p class="card-text mb-auto">Dari sekian banyak olahraga yang ada di dunia ini, salah satu yang paling ...</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="150" xmlns="http://www.w3.org/2000/svg" src="{% static 'pic/basket.png' %}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Music is Lyfe!</h3>
          <div class="mb-1 text-muted">30 Sept</div>
          <p class="mb-auto">Musik seringkali saya pilih untuk menemani di berbagai situasi. Terlebih ketika saya berada di tempat kos ...</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="150" xmlns="http://www.w3.org/2000/svg" src="{% static 'pic/music.png' %}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
        </div>
      </div>
    </div>
  </div>
{% endblock %}