{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row page6">
    <div class="col-md-12">
        <h1 id="schedules">SCHEDULES</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama Kegiatan</th>
                    <th scope="col">Tempat</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Hari</th>
                    <th scope="col">Jam</th>
                    <th scope="col">Hapus</th>
                </tr>
            </thead>
            <tbody>
                {% for jadwal in data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{jadwal.nama_kegiatan}}</td>
                        <td>{{jadwal.tempat}}</td>
                        <td>{{jadwal.kategori}}</td>
                        <td>{{jadwal.hari}}</td>
                        <td>{{jadwal.jam}}</td>
                        <td><a class= "btn btn-danger"href="{% url 'story4app:delete' id=jadwal.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class = "btn btn-primary" href="{% url 'story4app:form' %}">Add Schedule</a>
    </div>
</div>

{% endblock %}